#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

/bin/bash -c "$(curl -cert ~/.certificates/cert.pem -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"


if type brew > /dev/null 2>&1; then
    echo すでにHomebrewがインストールされています。次のステップに進みます。
else
    echo Homebrewをインストールします。
    echo >> $HOME/.zprofile
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
    eval "$(/opt/homebrew/bin/brew shellenv)"

fi

{{ end }}
